/* General Styles */
body {
	background: #000;
	color: white;
}

.container {
	background: #000;
	margin: 0 auto;
	width: 960px;
}

.clear {
	clear: both;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #ede5c5;
}

a:hover {
	opacity: .8;
}

/* Header */
header {
	height: 265px;
}

header .header_info {
	margin: -13px 0 0 0;
	position: absolute;
	top: 100px;
	right: 150px;
}

header .social_media ul {
	float: right;
	margin: 0;
}

header .social_media li {
	float: left;
	list-style: none;
	padding: 1px;
}

header .social_media li a {
	margin-right: 1px;
	display: block;
	height: 35px;
	width: 35px;
}

header .social_media li a:hover {
	-moz-opacity: .8;
	-khtml-opacity: .8;
	opacity: .8;
}

header a.social_email {
	background-image: url('../icons/mail.png');
}

header a.social_facebook {
	background-image: url('../icons/facebook-square.png');
}

header a.social_yelp {
	background-image: url('../icons/yelp.png');
}

header .header_info_text {
	line-height: 30px;
	text-align: right;
}




/* Navigation */
#navigation {
	border: 3px solid #c6a93a;
	border-bottom-width: 0;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li {
	/*border-right: 1px solid #d1d1d1;*/
	float: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navigation li a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 46px;
	padding: 0 22px;
	text-decoration: none;
}