/* General Styles */
body {
	background: #000;
	color: white;
}

.container {
	background: #000;
	margin: 0 auto;
	width: 960px;
}

.clear {
	clear: both;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #c6a93a;
}

/* Header */
header {
	height: 265px;
}
header .header_info {
	margin: -13px 0 0 0;
	position: absolute;
	top: 25%;
	right: 150px;
}

header .social_media ul {
	float: right;
	margin: 0;
}

header .social_media li {
	float: left;
	list-style: none;
	padding: 1px;
}

header .social_media li a {
	-moz-opacity: .8;
	-khtml-opacity: .8;
	opacity: .8;
	margin-right: 1px;
	/*background-image: ;*/
}

header .header_info_text {
	line-height: 30px;
	text-align: right;
}




/* Navigation */
#navigation {
	border: 1px solid #d1d1d1;
	border-bottom-width: 0;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li {
	/*border-right: 1px solid #d1d1d1;*/
	float: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navigation li a {
	color: #c6a93a;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 46px;
	padding: 0 28px;
	text-decoration: none;
}